.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

footer{
  background-color: #282c34;
  margin-top: auto;
  padding-bottom: 5em;
}

#loadMore{
  margin-top: 5em;
  background-color: rgb(221, 169, 21);
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}
