.dropdown {
    width: 7em;
    height: 2.5em;
    margin-right: 7em;
    margin-left: 0.5em;
    background-color: rgb(221, 169, 21, 0.7);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    height: 3em;
}

.dropdown:hover{
    background-color: rgb(221, 169, 21);
}

.dropdown option{
    width: 30%;
    margin-right: 1em;
    margin-left: 5em;
    padding: 10px;
    font-size: 16px;
}