header{
    margin-top: 0;
    background-color: #282c34;
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
}

#flixster{
    margin-top: 0;
}

#actionItems{
    display: flex;
    justify-content: space-between;
}