header{
    margin-top: 0;
    background-color: darkgray;
    padding-top: 1em;
    padding-bottom: 1em;
}

#flixter{
    margin-top: 0;
}

#actionItems{
    display: flex;
    justify-content: space-between;
}